{% extends 'core/base.html' %}

{% load static %}


    {% block navbar %}
 
    <a class="nav-link active" href="{% url 'mainPage_Internos' %}">Inicio <span class="sr-only">(current)</span></a>
    <a href="{% url 'prod_sobrante_disponible' %}" class="nav-link">Revisar Productos</a>
    <a href="{% url 'list_proceso_local' %}" class="nav-link">Procesos Locales</a>
          {% if user.is_authenticated %}
          <a class="active nav-link" href="#">Bienvenido: {{ user.username }}</a>
          <a href="{% url 'logout' %}" class="nav-link">Cerrar Sesión</a>
        {% endif %}
 {% endblock %}


 {% block content %}


<h2>Realización de Pago Interno</h2>

<form action="" method="POST">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>

    <input class="btn btn-success" type="submit" value="Aceptar">
</form>
{{ mensaje }}
<br>




<a class="btn btn-success" href="{% url 'mainPage_Internos' %}">Volver</a>



<br>

<h5>Procesos de venta local elegibles</h5>

<ul class="list-group list-group">
    {% for p in proceso_venta_local %}
    <li class="list-group-item">  
        <b>Cliente Interno:</b>  {{p.rut_clii}}  <b> Costo de transporte:</b> ${{p.costo_transporte}} <b>Comisión Empresa:</b> {{p.comision_empresa}}  <b> Producto:</b> {{p.id_produs}} 
        <b> Estado:</b> <button type="button" class="btn btn-info">{{p.id_estado}}</button>

    </li>
    {% endfor %}
  </ul>



{% endblock %}