{% extends 'core/base.html' %}

{% load static %}


    {% block navbar %}
 
 <a class="nav-link active" href="{% url 'list_subastas' %}">Inicio <span class="sr-only">(current)</span></a>
          {% if user.is_authenticated %}
          <a class="active nav-link" href="#">Bienvenido: {{ user.username }}</a>
          <a href="{% url 'logout' %}" class="nav-link">Cerrar Sesión</a>
        {% endif %}
 {% endblock %}


 {% block content %}
{% load static %}



{% block javascript %}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="{% static '/core/js/confirm.js' %}"></script>
{% endblock %}
  
<h2>Listado de Subastas</h2>
<br>

<ul class="list-group list-group">
    {% for s in subasta %}
    <li class="list-group-item">  
<p><b>Costo Transporte:</b> ${{s.costo_transporte}}</p> <p><b>Transportista:</b> {{s.rut_transportista}}</p>
    </li>
    {% endfor %}
  </ul>

<br>

<a class="btn btn-success" href="{% url 'index'%}">Página de inicio</a>
<a class="btn btn-success" href="{% url 'ingresar_subasta'%}">Ingresar subasta</a>
{% endblock %}
