{% extends 'core/base.html' %}

{% block navbar %}
 
<a class="nav-link active" href="{% url 'mainPage_Internos' %}">Inicio <span class="sr-only">(current)</span></a>
         <a href="{% url 'prod_sobrante_disponible' %}" class="nav-link">Revisar Productos</a>
         <a href="{% url 'list_proceso_local' %}" class="nav-link">Procesos Locales</a>
         {% if user.is_authenticated %}
         <a class="active nav-link" href="#">Bienvenido: {{ user.username }}</a>
         <a href="{% url 'logout' %}" class="nav-link">Cerrar Sesión</a>
       {% endif %}
{% endblock %}


{% block content %}
<div class="col-md-auto">
<h4 class="text-center">¿Quieres comprar?</h4>
<br>
<h4 class="text-center">Revisa los productos disponibles</h4>
<br>
<div class="col text-center">
<a href="{% url 'prod_sobrante_disponible' %}" class="btn btn-success mx-auto">Entrar</a>
</div>
<br>
<h4 class="text-center">Revisar Procesos locales</h4>
<br>
<div class="col text-center">
<a href="{% url 'list_proceso_local' %}" class="btn btn-success mx-auto ">Entrar</a>
</div>
</div>
{% endblock %}