{% extends 'core/base.html' %}

{% block navbar %}
 
<a class="nav-link active" href="{% url 'mainPage_Internos' %}">Inicio <span class="sr-only">(current)</span></a>
<a href="{% url 'prod_sobrante_disponible' %}" class="nav-link">Revisar Productos</a>
<a href="{% url 'list_proceso_local' %}" class="nav-link">Procesos Locales</a>
         {% if user.is_authenticated %}
         <a class="active nav-link" href="#">Bienvenido: {{ user.username }}</a>
         <a href="{% url 'logout' %}" class="nav-link">Cerrar Sesión</a>
       {% endif %}
{% endblock %}

{% block content %}
<h5>Productos disponibles</h5>
<ul class="list-group list-group">
  {% for p in producto_sobrante %}
  <li class="list-group-item">  
    <p><b>Fruta:</b> {{p.id_fruta}}</p> <p><b>Precio Kilo:</b> ${{p.precio_kilo}}</p> <p><b>Stock(Kg):</b>{{p.stock}}Kg</p> <p><b>Poductor:</b>{{p.rut_productor}}</p>
    <a href="{% url 'ingresar_pago_interno' %}" class="btn btn-success ">Comprar</a>
  </li>

        
  {% endfor %}
</ul>
</table>
{% endblock %}

